@use 'src/base'

%cotainer-shared
    display: flex
    align-items: center
    justify-content: space-between

.cardContainer
    background-color: base.$Light-Grayish-Cyan
    min-height: 85vh
    width: 100%
    padding: 3rem 15%

.card
    @extend %cotainer-shared
    background-color: white
    margin: 1rem
    padding: 1rem
    border-radius: 5px

.cardSubContainer1
    @extend %cotainer-shared
    flex: 1

.cardSubContainer2
    @extend %cotainer-shared
    flex-direction: row-reverse
    flex: 1
    flex-wrap: wrap

    ul
        display: flex
        flex-wrap: wrap
        padding: 1rem
        gap:0.5rem

    li
        list-style: none
        margin-left: 1rem
        cursor: pointer
        padding: 0.5rem
        color: base.$Desaturated-Dark-Cyan
        background-color: base.$Light-Grayish-Cyan
        border-radius: 5px

    li:hover
        color: base.$Light-Grayish-Cyan
        background-color: base.$Desaturated-Dark-Cyan

    li:hover:after

.logo
    width: 5rem
    height: 5rem

.jobSpecsContainer
    width: 60%

.jobInformationContainer
    @extend %cotainer-shared
    margin-bottom: 1rem

.jobDescriptonContainer
    @extend %cotainer-shared

.companyName
    color: base.$Desaturated-Dark-Cyan
    font-size: 1.2rem

.new
    color: base.$Light-Grayish-Cyan
    background-color: base.$Desaturated-Dark-Cyan
    padding: 0.3rem
    border-radius: 5px
    cursor: pointer
    margin-left: 0.2rem

.featured
    color: base.$Light-Grayish-Cyan
    background-color: base.$Very-Dark-Grayish-Cyan
    padding: 0.3rem
    border-radius: 5px
    cursor: pointer
    margin-left: 0.2rem

.jobPosition
    font-weight: 700
    font-size: 1.3rem
    color: base.$Very-Dark-Grayish-Cyan
    margin-bottom: 1rem

.jobPosition:hover
    color: base.$Desaturated-Dark-Cyan
    cursor: pointer

.postedAt
    color: base.$Dark-Grayish-Cyan

.contract
    color: base.$Dark-Grayish-Cyan

.location
    color: base.$Dark-Grayish-Cyan

.dot
    height: 0.2rem
    width: 0.2rem
    background-color: base.$Dark-Grayish-Cyan
    border-radius: 50%

@media only screen and (max-width: 900px)
    .cardContainer
        padding: 3rem 5%

    .card:first-child
        margin-top: 1rem

    .card
        flex-direction: column
        position: relative
        margin-top: 5rem
        padding-top: 3rem

    .logo
        position: absolute
        top: -20%
        left: 5%
    
    .cardSubContainer1
        width: 100%
        padding-bottom: 1rem
        border-bottom: 1px solid base.$Dark-Grayish-Cyan

    .cardSubContainer2
        width: 100%
        margin-top: 1rem
        flex-direction: row
    
    .jobSpecsContainer
        width: 100%