@use 'src/base'
$bg-img-desktop: url(./bg-header-desktop.svg)
$bg-img-mobile: url(./bg-header-mobile.svg)
    
.FilterContainer
    width: 100vw
    height: 20vh
    background-image: $bg-img-desktop
    background-size: cover
    background-color: base.$Desaturated-Dark-Cyan